Host *
  IdentityFile ~/.ssh/personal
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host fileboi
  Hostname 10.0.0.100
  User alex

Host work.github.com
  HostName github.com
  IdentitiesOnly yes
  IdentityFile ~/.ssh/work
  User git
