# {{ ansible_managed }}

music_directory "~/music"
playlist_directory "~/.mpd/playlists"
db_file "~/.mpd/database"
pid_file "~/.mpd/pid"
state_file "~/.mpd/state"
sticker_file "~/.mpd/sticker.sql"
bind_to_address "127.0.0.1"
bind_to_address "~/.mpd/socket"
port "6600"
log_level "default"
restore_paused "no"
save_absolute_paths_in_playlists "no"
metadata_to_use	"artist,album,title,track,name,genre,date,composer,performer,disc"
auto_update "yes"
auto_update_depth "3"
follow_outside_symlinks	"yes"
follow_inside_symlinks "yes"
zeroconf_enabled "yes"
zeroconf_name "{{ inventory_hostname }}-mpd"
default_permissions "read,add,control,admin"
replaygain "auto"
filesystem_charset "UTF-8"

audio_output {
  type "pulse"
  name "Pulse Output"
}

audio_output {
  type	 "fifo"
  name	 "Visualizer feed"
  path	 "/tmp/mpd.fifo"
  format "44100:16:2"
}

mixer_type "software"